[Desktop Entry]
Encoding=UTF-8
Name=Plasma-ScreenRotationWidget
Comment=Plasmoid for rotating the screen in KDE
Type=Service

X-KDE-Library=Plasma-ScreenRotationWidget
X-KDE-PluginInfo-Author=TassadarAU
X-KDE-PluginInfo-Email=dom@tassadar.net
X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-Name=com.gitgub.tassadarau.Plasma-ScreenRotationWidget
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/tassadarau/Plasma-ScreenRotationWidget
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-NotificationArea=true
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Windows and Tasks
//Icon=/usr/share/plasma/plasmoids/com.gitgub.tassadarau.Plasma-ScreenRotationWidget/contents/images/icon.svg
